@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
 
</div>

<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr>
            <td><p>Роль</p></td>
            <td></td>
        </tr>
        @foreach (var b in ViewBag.Role)
            {
            <tr>
                <td><p>@b.UserRole</p></td>
                <td><p><a href="/Home/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>